@use './partials/variables' as *;
@use './partials/keyframes' as *;
@use './partials/elements' as *;
@use './partials/bootstrapMissings' as *;
@import '~bootstrap/scss/bootstrap';

body {
    background: $light-doc-color;
    background: linear-gradient(0deg, $light-doc-color 0%, $light-doc-color 47%, $light-pro-color 99%, $light-pro-color 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

label.title {
    font-weight: bold;
    text-transform: uppercase;
}

.star {
    width: 25px;
    height: 25px;
    clip-path: polygon(50% 0%, 64% 33%, 98% 35%, 72% 57%, 79% 91%, 50% 70%, 21% 91%, 28% 57%, 2% 35%, 37% 33%);
    // background: $star-active;
    background: orange;
    margin-right: .25rem;

    &.half {
        background: linear-gradient(90deg, orange 0%, orange 50%, black 50%, black 100%);
    }

    &.disabled {
        background: black;
    }
}