@use './partials/variables' as *;
@use './partials/keyframes' as *;
@use './partials/elements' as *;
@use './partials/bootstrapMissings' as *;
@import '~bootstrap/scss/bootstrap';

body {
    background: $light-doc-color;
    background: linear-gradient(0deg, $light-doc-color 0%, $light-doc-color 47%, $light-pro-color 99%, $light-pro-color 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

label.title {
    font-weight: bold;
    text-transform: uppercase;
}

.user-icon {
    width: 40px;
    height: 40px;
    border: 1px solid $main-doc-color;
    border-radius: 50%;
}

div.scroll-index {
    overflow-y: scroll;
}