@use './partials/variables' as *;
@use './partials/keyframes' as *;
@use './partials/elements' as *;
@use './partials/bootstrapMissings' as *;
@import '~bootstrap/scss/bootstrap';

// Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: $light-doc-color;
    background: linear-gradient(0deg, $light-doc-color 0%, $light-doc-color 47%, $light-pro-color 99%, $light-pro-color 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.small-title {
    font-weight: 200;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}

.dashboard-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid $main-doc-color;
}

.user-icon {
    width: 40px;
    height: 40px;
    border: 1px solid $main-doc-color;
    border-radius: 50%;
}

div.scroll-index {
    overflow-y: scroll;
}

footer {
    margin-top: 100px;
    background-color: $main-doc-color;

    section {
        padding: 3rem 0;

        &#top-footer {
            img {
                width: 100px;
                background-color: white;
                border-radius: 100%;
                padding: .5rem;
            }

            p {
                font-size: 1rem;
                font-weight: 200;
                color: white;
            }

            div.list-item {
                color: white;

                h4 {
                    font-weight: bold;
                }

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        list-style-type: none;
                        font-size: 0.9rem;
                        font-weight: 200;
                        margin-bottom: .2rem;

                        a {
                            text-decoration: none;
                            color: white;
                            border-bottom: 1px solid transparent;


                            &:hover {
                                border-bottom: 1px solid white;
                            }
                        }
                    }
                }
            }
        }
    }

    .separator {
        width: 100%;
        height: 1.5px;
        margin: 0 auto;
        background: white;
    }

    div.wave-shape img {
        width: 100%;
        height: 50px;
        transform: translateY(-100%);
    }
}

.star {
    width: 25px;
    height: 25px;
    clip-path: polygon(50% 0%, 64% 33%, 98% 35%, 72% 57%, 79% 91%, 50% 70%, 21% 91%, 28% 57%, 2% 35%, 37% 33%);
    // background: $star-active;
    background: orange;
    margin-right: .25rem;

    &.half {
        background: linear-gradient(90deg, orange 0%, orange 50%, black 50%, black 100%);
    }

    &.disabled {
        background: black;
    }
}