@use './variables' as *;

//boxes
.box-lime,
.box-magenta {
    color: black;
    padding: .2rem;

    &.box-lime {
        background-color: lime;
    }
    
    &.box-magenta {
        background-color: magenta;
    }
}

.incoming-mail{
    overflow-x: hidden;
    max-height: 50vh;
}

// price
.price{
    color: inherit;
    opacity: .8;
    .price-box{
        display: inline-block;
        position: relative;
        &.discount::after{
            content: '';
            border:1px solid $av-light-unavailable;
            width: 105%;
            position: absolute;
            transform: translate(-50%, -50%) rotate(-15deg);
            top:50%;
            left:50%;
        }
    }
}

/* inputs and textareas */
input,
textarea {
    border: 2px solid $main-doc-color !important;
    width: 100%;
    
    &:focus {
        border: 2px solid $main-doc-color !important;
        box-shadow: $main-doc-color 0px 6px 12px -2px, #ffffff4d 0px 3px 7px -3px !important;
        outline: none !important;
    }
}

.sponsor-type {
    background-color: $light-doc-color;
}

.sponsor-card {
    margin: 0 auto 1.2rem;
}

/* buttons */
.doc-btn {
    color: white !important;
    padding: .4rem 1.3rem !important;
    background-color: $light-doc-color !important;
    border: 1px solid $light-doc-color !important;
    
    &.bg-sponsor {
        font-weight: bold !important;
        text-transform: uppercase !important;
        background-color: $premium-color !important;
        border: 1px solid $premium-color !important;
    }
    &.bg-available {
        background-color: $av-light-available !important;
        border-color: $av-light-available !important;
    }
    &.bg-unavailable {
        background-color: $av-light-unavailable !important;
        border-color: $av-light-unavailable !important;
    }

    &:hover {
        background-color: $main-doc-color !important;
        border-color: $main-doc-color !important;

        &.bg-sponsor {
            background-color: $premium-dark-color !important;
            border: 1px solid $premium-dark-color !important;
        }
        &.bg-available {
            background-color: $av-available !important;
            border-color: $av-available !important;
        }
        &.bg-unavailable {
            background-color: $av-unavailable !important;
            border-color: $av-unavailable !important;
        }
    }
}

// cards border
.custom-card {
    border-radius: .7rem;
    padding: .5rem;
    color: white;

    &.blue {
        background: $light-pro-color;
    }

    &.cyan {
        background: $light-doc-color;
    }
}

//availability-dot
.availability-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    cursor: help;
}

/* checkboxes */
.checkbox-wrapper-33 {
    --s-xsmall: 0.625em;
    --s-small: 1.2em;
    --border-width: 2px;
    --t-base: 0.4s;
    --t-fast: 0.2s;
    --e-in: ease-in;
    --e-out: cubic-bezier(.11, .29, .18, .98);

    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .checkbox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: fit-content;
        cursor: pointer;

        +.checkbox {
            margin-top: var(--s-small);
        }

        .icon-checkbox {
            width: 1em;
            height: 1em;
            margin: auto;
            fill: none;
            stroke-width: 3;
            stroke: currentColor;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            color: $main-doc-color;
            display: inline-block;

            path {
                transition: stroke-dashoffset var(--t-fast) var(--e-in);
                stroke-dasharray: 30px, 31px;
                stroke-dashoffset: 31px;
            }
        }
    }

    .checkbox__symbol {
        display: inline-block;
        display: flex;
        margin-right: calc(var(--s-small) * 0.7);
        border: var(--border-width) solid $main-doc-color;
        border-radius: .2rem;
        position: relative;
        width: 1.5em;
        height: 1.5em;
        transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
        box-shadow: 0 0 0 0 $main-doc-color-33opacity;

        &:after {
            content: "";
            position: absolute;
            top: 0.5em;
            left: 0.5em;
            width: 0.25em;
            height: 0.25em;
            background-color: $main-doc-color-33opacity;
            opacity: 0;
            border-radius: 3em;
            transform: scale(1);
            transform-origin: 50% 50%;
        }
    }

    .checkbox__textwrapper {
        margin: 0;
    }

    .checkbox__trigger {
        &:checked+.checkbox__symbol {
            &:after {
                -webkit-animation: ripple-33 1.5s var(--e-out);
                animation: ripple-33 1.5s var(--e-out);
            }

            .icon-checkbox path {
                transition: stroke-dashoffset var(--t-base) var(--e-out);
                stroke-dashoffset: 0px;
            }
        }

        &:focus+.checkbox__symbol {
            box-shadow: 0 0 0 0.25em $main-doc-color-33opacity;
        }
    }
}